apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "observernet-api.fullname" . }}
  labels:
    {{- include "observernet-api.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.hpa.minReplicas | default 2 }}
  selector:
    matchLabels:
      {{- include "observernet-api.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "observernet-api.selectorLabels" . | nindent 8 }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
      containers:
        - name: api
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8000
              name: http
          env:
            {{- toYaml .Values.env | nindent 12 }}
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
